<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="styles.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#" class="logo">PsicoChat</a>
            <ul class="menulinks">
                <li><a href="#">Home</a></li>
                <li><a href="#">Objetivo</a></li>
                <li><a href="#">Uso</a></li>
                <li><a href="TECNOLOGIAS.HTML">Tecnologias</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
    </div>

    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">CHAT PSICOLOGICO</h4>
                    <p class="chatbox__description--header">Hola mi nombre es mar , como puedo ayudarte?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Escribe tu mensaje...">
                <button class="chatbox__send--footer send__button">Enviar</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="images/icon.svg" /></button>
        </div>
    </div>

    <script src="app.js"></script>
    <script src="home.js"></script>

</body>
</html>
